<%= simple_form_for([current_user, @cost]) do |f| %>
 <!-- <%= f.input :item %>
  <%= f.input :cost %>
  <%= f.input :location %>
  <%= f.button :submit %> -->

<!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <%= f.input :item, :placeholder=>'Item' %>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <%= f.input :cost, :placeholder=>'0.00' %>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <%= f.input :location, :placeholder=>'location' %>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div class="success"></div>
                        <div class="row">
                            
  								<%= f.button :submit, :type=>'submit', :class=>'btn btn-success btn-lg'%>
                           
                        </div>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </section>
<% end %>
