<!DOCTYPE html>
<html>
<head>
  <title>BruBudget</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="page-top" class="index">

  <%= render 'layouts/nav' %>
  <%= render 'layouts/header' %>

  <p class="navbar-text pull-left">


    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

  </p>

  <%= yield %>
    
  <%= render 'layouts/footer' %>  

</body>
</html>
